
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');


:root {
	--dynamic-bg-color: #FF5A5A;
	--blue-color: #4183FF;
	--pink-color: #F870FF;
	--orange-color: #FE9C00;
	--yellow-color: #FEEA00;
	--green-color: #009C34;
	--purple-color: #9847FF;
	--red-color: #FF5A5A;
	--red-color-transparent: #FF5A5Aaa;

	--error-color: #FF5A5A;
	--grey-color: #505050;
	--light-grey-color: #f0f0f0;
	--white-color: #ffffff;
	--black-color: #000;

	--icon-color: #000000aa;
	--pen-color: #000F55
}

body,
html {
	font-family: "Noto Sans", serif;
	line-height: 24px;
	font-size: 17px;
	position: relative;
	background-color: #fcfcfcfc;
	padding: 0px!important; 
	margin: 0px!important;

	width: 100%;
	align-items: center;
}

.hint-text {
	text-align: center;
	color: var(--grey-color);
	text-transform: uppercase;
	font-size: 15px;
	padding-bottom: 10px;
	letter-spacing: 1px;
}

h1 {
	color: var(--black-color);
	font-family: "Oswald", sans-serif;
	font-size: 40px !important;
	letter-spacing: 1px;
	line-height: 50px;
	/* text-transform: uppercase; */
	
}



button {
	padding: 12px;
	border: 12px;

	padding-left: 36px;
	padding-right: 36px;
	outline: none;
	font-size: 17px;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1px;
	border: none;
	border-radius: 12px;
	background-color: #eaeaea;
	cursor: pointer;
	opacity: .75;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 12px;
	flex-direction: row;
	font-family: 'Mukta';

	transition: opacity 250ms ease-in-out;
}

button img {
	height: 18px
}

@media (hover: hover) and (pointer: fine) {

	button:hover {
		opacity: 1;
		background-color: #e0e0e0;
	}

}