:root {
	--dynamic-bg-color: #FF5A5A;
	--blue-color: #4183FF;
	--pink-color: #F870FF;
	--orange-color: #FE9C00;
	--yellow-color: #FEEA00;
	--green-color: #009C34;
	--purple-color: #9847FF;
	--red-color: #FF5A5A;
	--red-color-transparent: #FF5A5Aaa;

	--error-color: #FF5A5A;
	--grey-color: #505050;
	--light-grey-color: #f0f0f0;
	--white-color: #ffffff;
	--black-color: #000;

	--pen-color: #000F55
}

body,
html {
	font-family: 'Hanken Grotesk' !important;
	line-height: 24px;
	font-size: 17px;
	position: relative;
	background-color: #fcfcfcfc;
	padding: 0px!important; 
	margin: 0px!important;

	width: 100%;
	align-items: center;
}

.hint-text {
	text-align: center;
	color: var(--grey-color);
	text-transform: uppercase;
	font-size: 15px;
	padding-bottom: 10px;
	letter-spacing: 1px;
}

h1 {
	color: var(--pen-color);
	font-family: 'biro_script_standardregular';
	font-size: 36px !important;
	

}